<!-- <app-header></app-header> -->
<main>
    <app-sidebar></app-sidebar>
    <div class="main-content">
      
        <div class="projects--header" frameworkIf="props.items.length">
            <div class="projects--header-item" frameworkClass="@id, active: active" frameworkFor="props.headerLinks" frameworkClick="changeSort">
                <span frameworkValue="name"></span> <div class="arrow"></div>
            </div>
            <div style="width: 12px"></div>
        </div>

        <app-task-preview frameworkFor="props.items"></app-task-preview>


        <div class="text-center empty-results" frameworkIf="props.projectsLength && !props.items.length">
            <h3 class="text-center">Project has no active issues</h3>
            <button class="app-btn" frameworkClick="addTask">+ Add task</button>
        </div>

        <div class="bottom-menu" frameworkIf="props.projectsLength && props.items.length">
            <button class="app-btn" frameworkClick="addTask">+ Add task </button>
        </div>

        <div frameworkIf="!props.projectsLength && !props.items.length">
            <div class="text-center empty-results">
                <h3 class="text-center">No mathed issues</h3>
            </div>
        </div>

    </div>
</main>

<app-project-create-modal></app-project-create-modal>
<app-project-edit-modal></app-project-edit-modal>
<app-task-edit-modal></app-task-edit-modal>
<app-task-create-modal></app-task-create-modal>
