<header>
    <!-- <span @click="test" ac-emod="stop, prevent, enter">1234</span> -->
    <!-- <input @keyup="keyup" ac-kmod="enter" type="text"> -->
    <div class="logo">
        <a class="gantt--main-menu-item" ac-link="/">
            ACE JS
        </a>
    </div>
    <ul class="gantt--main-menu">
        <li><a class="gantt--main-menu-item" ac-link="documentation">Documentation</a></li>
        <li><a class="gantt--main-menu-item" ac-link="controls/datepicker">Controls</a></li>
        <li><a class="gantt--main-menu-item" ac-link="plugins/sortable">Plugins</a></li>
        <!-- <li><a class="gantt--main-menu-item" ac-link="todo">TODO MVVM</a></li> -->
    </ul>
</header>