<header>
        <!-- <select name="" id="">
        <option value="">Hours</option>
        <option value="">Days</option>
        <option value="">Weeks</option>
        <option value="">Months</option>
        <option value="">Quaters</option>
        <option value="">Years</option>
    </select> -->
    <div class="logo">
        <a class="gantt--main-menu-item" frameworkLink="/">
            <img src="../../img/gantter-logo.png" alt="logo">
        </a>
    </div>
    <ul class="gantt--main-menu" frameworkIf="props.logged">
        <li><a class="gantt--main-menu-item" frameworkLink="gantt">Gantt</a></li>
        <li><a class="gantt--main-menu-item" frameworkLink="tracker">Tracker</a> </li>
        <li><a class="gantt--main-menu-item" frameworkLink="finances">Finances</a></li>
        <li><a class="gantt--main-menu-item" frameworkLink="todo">Todo list</a> </li>
        <li><a class="gantt--main-menu-item" frameworkLink="documentation">Documentation</a></li>
    </ul>
    <div class="right-menu" frameworkIf="props.logged">
        <div class="search-input relative">
            <input type="text" maxlength="20" placeholder="Search project" frameworkKeyup="search" frameworkModel="props.value">
            <i class="fa fa-times" aria-hidden="true" frameworkClick="clear" frameworkIf="props.value.length"></i>
            <i class="fa fa-search" aria-hidden="true" frameworkClick="search" frameworkIf="!props.value.length"></i>
        </div>
        <app-profile-dropdown></app-profile-dropdown>
    </div>
</header>