<!-- <app-header></app-header> -->
<div class="container">
    <!--<label for="urgent" style="cursor:pointer;"><input id="urgent" frameworkChange="onChangeFilter" frameworkModel="props.filter.urgent" type="checkbox">Urgent</label>-->
    <!--<label for="done" style="cursor:pointer;"><input id="done" frameworkChange="onChangeFilter" frameworkModel="props.filter.done" type="checkbox">Done</label>-->
    <label for="urgent" style="cursor:pointer;"><input id="urgent" name="filter" frameworkChange="onChangeFilter" frameworkModel="props.filter" type="radio" value="active">Active</label>
    <label for="done" style="cursor:pointer;"><input id="done" name="filter" frameworkChange="onChangeFilter" frameworkModel="props.filter" type="radio" value="done">Done</label>
    <br><br>
    <h1>Todo list (<span frameworkValue="props.todos.length"></span>)</h1>
    <ul class="todo-list">
        <app-todo-item frameworkFor="props.todos"></app-todo-item>
    </ul>


    <!--<h1>Countries</h1>-->
    <!--<ul class="countries">-->
    <!--<li frameworkFor="countries">-->
    <!--<i class="flag" frameworkClass="@data.class"></i>-->
    <!--<span frameworkValue="data.nicename"></span>-->
    <!--</li>-->
    <!--</ul>-->
</div>
