<button @click="load">Load</button>
<app-tree-item-debug ac-for="components"></app-tree-item-debug>
<style>
app-tree-item-debug {
    display: block;
    padding: 5px 0;
}

app-tree-item-debug.children {
    padding-left: 25px;
}

.toggle-btn {
    cursor: pointer;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: -22px;
}
.toggle-btn:before {
    content: '\25B6';
    color: #757575;
}
.toggle-btn.active:before {
    content: '\25BC';
    color: #757575;
}

.has-children {
	cursor: pointer;
}
</style>