<button @click="load">Load</button>
<app-tree-item-debug ac-for="components"></app-tree-item-debug>
<style>
app-tree-item-debug {
    display: block;
    padding: 5px 0;
}

app-tree-item-debug.children {
    padding-left: 25px;
}

.toggle-btn {
    background: #000;
    border-radius: 100%;
    cursor: pointer;
    width: 12px;
    height: 12px;

    display: inline-block;
    position: absolute;
    left: -22px;
}

.toggle-btn.active {
    background: #ccc;
}
.has-children {
	cursor: pointer;
}
</style>