
app-chart {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  main {
    display: flex;
    //flex-direction: column;
    flex: 1;
    user-select: none;
    //height: calc(100% - 220px);
    // margin-left: 150px;
    //overflow-x: hidden;
    //overflow-y: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  .gantt--scale {
    height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  app-scale {
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  app-scale-month {
    // position: absolute;
    height: 100%;
    float: left;
    font-size: 14px;
    color: #777;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid #ccc;
    text-align: center;
    // width: 100%;
  }
  app-scale-month {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  app-scale-day {
    float: left;
    font-size: 13px;
    color: #777;
    // width: 50px;
    height: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 20px;
    &.holiday {
      background: #f1f1f1;
    }
    &.today {
      background: $c-blue;;
      color: #fff;
    }
  }

  .gantt--container {
    //width: calc(100% - 600px);
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    //height: 100%;
    //// margin-left: 300px;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-right: 50px;
  }

  .gantt--scale--line {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 20px;
  }

  .bottom-menu {
    //height: 50px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 12px;
    padding: 20px;
  }

  .gantt--scale--line-item.today {
    background: #ccc;
  }

  .gantt--canvas {
    position: relative;
    height: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: hidden;
    top: 40px;
  }

  .not-found {
    text-align: center;
    font-size: 20px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: inherit;
  }

  .gantt--scroller-y {
    position: absolute;
    height: calc(100% - 17px);
    top: 17px;
    right: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    div {
      width: 1px
    }
  }

  .gantt--scroller-x {
    position: absolute;
    width: calc(100% - 449px);
    margin-left: 400px;
    /* width: 200px; */
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    div {
      height: 1px
    }
  }
}

app-chart-bar {
  display: block;
  position: relative;
  color: #ffcc80;
  height: 30px;
  .back {
    height: 30px;
    width: 100%;
    position: absolute;
    z-index: -1;
    border-bottom: 1px solid #ccc;
  }
  &:hover .back {
    background: $c-gantt-hovered;
  }
  &.selected {
    background: $c-gantt-selected;
  }
  &:last-child {
    .back {
      border: none;
    }
  }

  .gantt--canvas-bar {
    left: 20px;
    top: 4px;
    width: 100%;
    height: 22px;
    line-height: 20px;
    background: #ffcc80;
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid;
    color: #fafafa;
    font-size: 12px;
    padding-left: 10px;
    &.inactive {
      opacity: 0.2;
    }
    // overflow: hidden;
    // border-color: darken(inherit, 10%);
    //  box-shadow: 3px 3px 0 rgba(255, 204, 128, 0.5);
    &:hover {
      //box-shadow: 0px 0px 3px 0px #000;
      .resizer {
        opacity: 1;
      }
    }
    .left-line {
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(141, 212, 255, 0.25);
    }
    .resizer {
      -webkit-transition: opacity 0.1s ease-in-out;
      -moz-transition: opacity 0.1s ease-in-out;
      -ms-transition: opacity 0.1s ease-in-out;
      -o-transition: opacity 0.1s ease-in-out;
      transition: opacity 0.1s ease-in-out;
      opacity: 1;
      width: 9px;
      height: 21px;
      background: #fff;
      position: absolute;
      box-shadow: 0px 0px 4px -1px #000;
      top: 0px;
      cursor: w-resize;
      bottom: 0;
      margin: auto;
      &-l {
        left: 0px;
      }
      &-r {
        right: 0px;
      }
      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 60%;
        background: #cfcfcf;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

}




