app-sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;

  .gantt--project-menu {
    height: 40px;
    border-bottom: 1px solid #ccc;
    .headers {
      font-size: 13px;
      height: 100%;
      &-item {
        padding: 10px 10px;
        font-size: 18px;
        color: $c-white;
        background: $c-anthr;
        font-weight: 300;
        .fa-bars{
          float: right;
          padding: 0px 10px;
        }
        &:nth-child(2) {
          width: 25%;
          border-left: 1px solid #ccc;
        }
        &:nth-child(3) {
          width: 25%;
          border-left: 1px solid #ccc;
        }
      }
    }
  }
}

app-sidebar-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .not-found{
    text-align: center;
    font-size: 14px;
    padding: 20px;
  }
}

app-sidebar-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0 $step * 3;
  min-height: 30px;
  color: $c-anthr;
  font-size: 14px;
  border-bottom: 1px inset #ccc;

  .overdue{
    width: 15px;
    display: inline-block;
    margin: 0px 2px 0px 10px;
  }
  .info {
    color: #191919;
    font-size: 12px;
    position: relative;
    top: 3px;
  }
  &:hover{
    cursor: pointer;
    background: $c-grey-light;
  }
  &.inactive{
    opacity: 0.2;
  }
  &.selected{
    background: $c-yellow;
  }
  .active {
    background: red;
  }
  .icon {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  .date {
    width: 25%;
    padding: 8px;
    border-left: 1px solid #ccc;
  }

  .label {
    padding: 0 10px;
    display: flex;
    font-size: 12px;
  }

  .title {
    color: $c-anthr;
    display: flex;
    align-items: center;
  }

  div {
    padding: 5px;
  }

  &:last-child {
    border-bottom: none;
  }
}