app-todo {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  .container{
    overflow: auto;
  }
  h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .todo-list {
    app-todo-item {
      padding: 2px;
      font-size: 14px;
      display: block;
    }
  }

  .done {
    //text-decoration: line-through;
    opacity: 0.6;
  }

  .urgent {
    color: red;
  }

  .countries {
    li{
      display: flex;
      align-items: center;
    }
  }
}
