<div class="projects--item">
    <div class="id">
        <span frameworkValue="props.id"></span>
    </div>
    <div class="project">
        <a type="text" frameworkClick="goToSingleProject" frameworkValue="props.projectName"></a>
    </div>
    <div class="name">
        <a type="text" frameworkClick="goToSingleTask"  frameworkValue="props.title"></a>
    </div>
    <div class="status">
        <app-status-dropdown readonly frameworkInput="status: props.status"></app-status-dropdown>
    </div>
    <div class="assignee">
        <app-assignee-dropdown readonly frameworkInput="assignee: props.assignee"></app-assignee-dropdown>
    </div>
    <div class="due_date">
        <span frameworkClass="overdue: props.overdue" frameworkValue="props.due_date"></span>
    </div>
    <div>
        <app-context-dropdown frameworkSubscribe="deleteTask:removeItem, editTask:edit"></app-context-dropdown>
    </div>
</div>
