<main>

    <div class="main-content justify-space-between">

        <ul class="main-list">
            <li ac-for="let item of controls">
                <a class="list-head" ac-value="item.name" ac-link="{{item.route}}" ></a>
            </li>
        </ul>

        <div class="plugins-section">
            <!-- <child-route-switcher></child-route-switcher> -->
        
        	<h3>Datepicker</h3>
            <div style="width: 200px">
                <app-datepicker ac-dropdown ac-model="date"></app-datepicker>
            </div>
        </div>
    </div>
</main>



