<main style="    width: 20%;min-width: 300px;">
    <h3 class="text-center">Create an account</h3>
    <form class="app-form" frameworkSubmit="submit">
        <div class="app-form__row">
            <label class="app-form__label">
                <input type="text" placeholder="Email" value="your@gmail.com" class="app-form__label__input"/>
            </label>
        </div>

        <div class="app-form__row">
            <label class="app-form__label">
                <input type="password" placeholder="Password" class="app-form__label__input"/>
            </label>
        </div>

        <div class="app-form__row">
            <label class="app-form__label">
                <input type="password" placeholder="Confirm password"  class="app-form__label__input"/>
            </label>
        </div>

        <div class="app-form__row" style="justify-content: center;">
            <button type="" class="app-btn">Submit</button>
        </div>
    </form>

    <div class="text-center">Already have an account?</div>
    <div class="text-center text-underline"><a frameworkLink="auth">Sign in</a></div>
</main>
