// $c-black: #000000;
$c-blue: #17b6ed;
$c-gray: #cccccc;
$c-gantt-selected: rgba(141, 212, 255, 0.25);
$c-gantt-hovered: rgba(224, 224, 224, 0.5);


//----------------- Colors Palete --------------//
//----------------------------------------------//
$c-white:           #ffffff;
$c-yellow:          #f9d710;
$c-yellow-dark:     #dbac01;
$c-black:           #191919;
$c-anthr:           #0a0a0a;
$c-grey-dark:       #444444;
$c-grey:            #676767;
$c-grey-light:      #f2f2f2;

$-blue:             #5d73f3;
$-orange:           #ff866a;
$-violet:           #5b33ba;
$-green:            #9DCA40;
$-red:              #BE2F39;
//----------------------------------------------//
//----------------------------------------------//

$step: 4px;