<!-- <app-header></app-header> -->

<main>
    <a class="back-btn" frameworkLink="tracker">Back to tracker</a>
    <form action="" frameworkSubmit="submit">
        <div class="app-form__row">
            <label class="app-form__label">
                <span class="app-form__label__text">Task Name</span>
                <input type="text" name="title" placeholder="Project name" required class="app-form__label__input"
                       frameworkModel="props.title"/>
            </label>
        </div>
        <div class="app-form__row">
            <label class="app-form__label">
                <span class="app-form__label__text">Project Name</span>
                <span frameworkValue="props.projectName"></span>
            </label>
        </div>
        <div class="app-form__row">
            <label class="app-form__label">
                <span class="app-form__label__text">Assignee</span>
                <app-assignee-dropdown frameworkModel="props.assignee"
                                       frameworkInput="assignee: props.assignee"></app-assignee-dropdown>
            </label>
            <label class="app-form__label">
                <span class="app-form__label__text">Status</span>
                <app-status-dropdown frameworkModel="props.status"
                                     frameworkInput="status: props.status"></app-status-dropdown>
            </label>
        </div>
        <div class="app-form__row">
            <label class="app-form__label">
                <span class="app-form__label__text">Description</span>
                <textarea class="app-form__label__textarea" frameworkModel="props.description"></textarea>
            </label>

        </div>

        <div class="app-form__row content  content--space-between col-2">
            <label class="app-form__label">
                <span class="app-form__label__text">Attachments</span>

<!--                 <button type="button" class="app-btn small">
                    Attach file
                    <input type="file" frameworkRef="file" frameworkChange="attach">
                </button> -->

                <div frameworkFor="props.files" class="attached-file">
                    <img alt="" style="width: 50px" frameworkAttr="src: img">
                    <span frameworkValue="name"></span>
                    <i class="fa fa-trash-o" aria-hidden="true" frameworkClick="removeFile"></i>
                </div>
            </label>
        </div>
        <div class="modal-bottom">
            <!--<button type="submit" class="app-btn" frameworkClick="cancel">Close </button>-->
            <button type="" class="app-btn">Submit</button>
        </div>
    </form>
</main>


<app-project-create-modal></app-project-create-modal>
<app-project-edit-modal></app-project-edit-modal>
<app-task-edit-modal></app-task-edit-modal>
