<main style="    width: 20%;min-width: 300px;">
    <h3 class="text-center">Sign in</h3>
    <form class="app-form" frameworkSubmit="submit">
        <div class="app-form__row">
            <label class="app-form__label">
                <!-- <span class="app-form__label__text">User name</span> -->
                <input type="text" placeholder="Username" value="" class="app-form__label__input" />
            </label>
        </div>

        <div class="app-form__row">
            <label class="app-form__label">
                <!-- <span class="app-form__label__text">User email</span> -->
                <input type="text" placeholder="Email" value="" class="app-form__label__input" />
            </label>
        </div>

        <div class="app-form__row" style="    justify-content: space-between;">
            <a frameworkLink="remind">Forgot password?</a>
            <button type="" class="app-btn">Submit</button>
        </div>
    </form>

    <div class="text-center">New to the system?</div>
    <div class="text-center text-underline"><a frameworkLink="registration">Create an account</a></div>
</main>
