
<main style="    width: 20%;min-width: 300px;">
    <h3 class="text-center">Remind password</h3>
    <form class="app-form" frameworkSubmit="submit">
        <div class="app-form__row">
            <label class="app-form__label">
                <!-- <span class="app-form__label__text">User name</span> -->
                <input type="text" placeholder="Email" value="" class="app-form__label__input" />
            </label>
        </div>
        <div class="app-form__row content--end" style="justify-content: center;">
            <a frameworkLink="auth" type="" class="app-btn">Submit</a>
        </div>
    </form>
</main>
