<div class="gantt--canvas-bar"
frameworkStyle="background:props.color, left:props.left, width: props.width" 
frameworkMouseDown="moveStart">
	<div class="left-line" frameworkIf="props.isMoving" frameworkStyle="width: props.width, top: -props.top, height: props.top" ></div>
	<div class="resizer resizer-l" frameworkRef="leftResizer" frameworkMouseDown="resizeStart: left"></div>
	<span frameworkValue="props.title"></span>
	<div class="resizer resizer-r" frameworkRef="rightResizer" frameworkMouseDown="resizeStart: right"></div>
</div>
<div class="back"></div>